button{
    padding: 1rem 2rem 1rem 2rem;
    background-color: $secondary-light;
    color: $grey-dark;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Manrope;
    border: none;
    outline: none;
    transition: $transition-primary;
    transition-duration: 100ms;
    &:hover{
        transform: translateY(-2px);
    }
    &:active{
        transform: translateY(0);
    }
    &:focus{
    }
}

.btn-icon{
    @include circle(4rem);
    @include flex-center;
    padding:0;
    position: relative;
    svg,img{
        height: 50%;
    }
    &-outline{
        border: 1.5px solid $color-white;
        background-color: transparent;
    }

    &:hover{
        transform: translateY(-2px);
        border-color: $secondary-light;
    }
    &:active{
        transform: translateY(0);
    }
}
