// .form-group{
//     padding: 6rem 3rem;
// }

.form-label{
    display: block;
    font-family: Manrope;
    font-size: 1.5rem;
    padding: 2rem 0rem;
    color: $text-grey;  
    }
 
    .form-input {
    font-family: Manrope;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    width: 100%;
    color: $color-white;
    padding-bottom: 3px;
    border-bottom: 3px solid rgba( $secondary-light,0.3);
    transition: $transition-primary;
    transform-origin: left;

    &:focus{
        border-bottom: 3px solid $secondary-light;
    }
    }

    .form-submit{
    padding-top: 5rem;
    text-align: center;
    }
  