.role{
    &-card{
        &-top{
            border-bottom: 0.8px solid $border-grey;
            padding-bottom: 0.2rem;
        }
        &-bottom{
            padding: 1.2rem 0;
            border-bottom: 1px solid $color-white;
        }
    }
    &-info{
        
        margin-top: 3rem;
        & > * {
            margin-bottom: 0;
        }

        &-item{
            margin-bottom: 0.6rem;
            display: flex;
        justify-content: space-between;
        }
    }
}