.text-white{
    color: $color-white;
}

.text-grey{
    color: $text-grey;
}

.bg-grey{
    background-color: $color-grey;
}

.bg-darker{
    background-color: $grey-dark;
}

.text-color-light{
    color: $primary-color-light;
}

.text-secondary-light{
    color: $secondary-light;
}

.text-light-blue{
    color: $primary-color-medium;
}

.text-center{
    text-align: center;
}

.text-border-grey{
    color: $border-grey;
}