.text-white{
    color: $color-white;
}

.text-grey{
    color: $text-grey;
}

.text-color-light{
    color: $primary-color-light;
}

.text-secondary-light{
    color: $secondary-light;
    font-size: 2rem;
}

.text-primary-color-medium{
    color: $primary-color-medium;
}

.text-center{
    text-align: center;
}