.top-section {
    width: 100%;
    padding-top: 14rem;
    background-size: cover;
    background-position: bottom center;

    @include res(sm){
      padding-top: 12rem;
    }
  }
  

  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
    @include res(sm){
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }