.footer {
  padding:5rem 0rem;
  border-top: 1px solid $border-grey-light;


  &-top {
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1.5px solid $secondary-light;
  }

  &-top-left {
    .logo {
      padding-bottom: 1rem;
      width: 15rem;
    }
  }

  &-top-right {
    align-items: center;
    display: flex;
    justify-content: end;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
  }

  &-link-left,
  &-link-right {
    .text-white {
      padding-bottom: 1rem;
    }

    p {
      margin-bottom: 0.6rem;
    }
  }

  &-link-right {
    h4,
    p {
      text-align: right;
    }
    }
    
    &-subscription{
      padding: 3rem 0rem 0;
    

    .newsletter{
      padding: 3rem 3rem;
      background-color: $color-grey;

      h5{
        font-weight: 600;
        margin-bottom: 1.5rem;
      }

      .box {
        position: relative;
        display: inline-block;
        width: 200px;
      
        input {
          font-family: Manrope;
          background-color: transparent;
          border: none;
          outline: none;
          width: 200%;
          font-size: 1.5rem;
          color: $color-white;
          box-sizing: border-box;
          padding-bottom: 4px;
          border-bottom: 3px solid rgba( $secondary-light,0.3);
      
          &:focus + .underline {
            width: 200%;
          }
        }
      
        .underline {
  
          position: absolute;
          bottom: 0;
          left: 0%;
          transform: translateX(0%);
          height: 4px;
          width: 0;
          background-color: $secondary-light;
          transition: .3s;
        }
      }

      
    .subscribe{
      display: flex;
      flex-direction: row-reverse;
      margin-top: -4.25rem
    }
    }
  }

  .follow-us{
    text-align: end;

      .social-media-image{
        padding-top: 2rem;
        padding-bottom: 4.8rem;
        width: 4rem;
        margin-left: 1rem;
    }
  }
}
