.hero-contact-section {
    background-image: url(../../assets/img/contact-bg.jpg);
    background-position: top;
    background-size: cover;
  }
  
  .hero-contact-section-top {
    border-bottom: 2px solid $secondary-light ;
    margin-bottom: 4rem;  

    h4{
        color: #AEAEAE;
           padding-top: 5rem;
       }

     h1{
        padding-bottom: 2rem;   
    }
  }
  
  .contact-us{
    padding-top: 2rem;
    padding-left:6.5vw;
    padding-right: 7vw;
    background: transparent;

  .contact-address{
    padding-left: 2rem;
    margin-left: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: left;
    align-items: center; 
    border-bottom: 2px solid $text-grey;

    .address-logo{
        @include circle(8rem);
        border: 3px solid $text-grey;
        display: flex;
        justify-content: center;
        align-items: center;
     
        .contact-logo{
            width: 4rem;
        }
    }

    .address-info{
        width: 72%;
        margin-left: 2rem;
    }
  } 
}

 
.log-in{
    padding-bottom: 9rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../../assets/img/icons/top-right.svg);
      height: 11rem;
      width: 11rem;
      background-size: cover;
      top: 3rem;
      right: 80rem;
      opacity: 95%;
    }

  .log-in-image{
    background-size: cover;
    width: 76.7rem;
    height: 30rem; 
    }

    .log-in-content{

      padding: 7rem 3rem;
      text-align: end;
      position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../../assets/img/icons/right-top.svg);
      height: 11rem;
      width: 11rem;
      background-size: cover;
      top: 0.5rem;
      right: 0.5rem;
      opacity: 95%;
      }
    }
}
