.head-top{
    h1{
        font-weight: 600;
    }
}

.head-testimonial{
    display: flex;
   border-top: 2px solid $secondary-light;
   text-align: justify;
   padding-top: 2.5rem;

   .head-logo{
    width: 6rem;
    height: 6rem;
   }

   .head-text{
    margin-left: 2rem;
   }
}

.offer{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

    .option{
        width: 15rem;
    }

    .about{
        width: 7rem;
        border: 3px solid $secondary-light;
        background-color: transparent;
        border-radius: 4rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }
}

.client-section{
    padding-bottom: 2rem;
    text-align: center;
}

    .client-companies{
        display: flex;
        justify-content: space-around;

        .client-image{
            width: 12rem;
            margin-bottom: 3rem;
        }
    }

    .software-section{
        text-align: center;
        padding-bottom: 5rem;
    }

    .software-companies{
        display: flex;
        justify-content: space-around;
        padding: 3.5rem;
        border: 3px solid $text-grey;

        .software-image{
            width: auto;
            height: 2.5rem;
        }
    }

.big-tile {
    width: 25%;
    border: 5px solid $secondary-light;
    text-align: left;
    position: relative;

    .top-left{
        position: absolute;
        line-height: 2.5rem !important;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }

  .testimonial-section{
    padding: 5rem 0rem;
    }
       
    .testimonial-logo{
        width: 8rem;
        padding-bottom: 1rem;
    }