.hero-section {
    width: 100%;
    padding-top: 14rem;
    min-height: 100vh;
    background-image: url(/assets/img/hero-section-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    padding-bottom: 4rem;
}

.head-top {
    h1 {
        font-weight: 600;
        max-width: 40rem;
    }
}

.testimonial {
    &-herosection{
        border-top: 1px solid $secondary-light;
        padding-top: 3rem;
        margin-top: 3rem;
    }
    &-block {
        display: flex;
    }

    &-img {
        @include circle(6rem);
    }

    &-content {
        margin-left: 2rem;
    }

}

.offer {
    margin-top: 6rem;

    .option {
        width: 16rem;

        &-img {
            @include circle(8rem);
            @include flex-center;
            border: 1.5px solid $secondary-light;
            margin-bottom: 1.5rem;

            img {
                width: 50%;
                height: auto;
            }
        }
    }
}

.client,
.software-client {
    padding-bottom: 2rem;
    text-align: center;
}

    .client-companies{
        display: flex;
        justify-content: space-around;

        .client-image{
            width: 12rem;
            margin-bottom: 3rem;
        }
    }

    .software-section{
        text-align: center;
        padding-bottom: 5rem;
    }

    .software-companies{
        display: flex;
        justify-content: space-around;
        padding: 3.5rem;
        border: 3px solid $text-grey;

    .client-image {
        margin-top: 4rem;
        width: auto;
        height: 2rem;
    }
}

.big-tile {
    width: 25%;
    border: 5px solid $secondary-light;
    text-align: left;
    position: relative;

    .top-left {
        position: absolute;
        line-height: 2.5rem !important;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }

  .testimonial-section{
    padding: 5rem 0rem;
    }
       
    .testimonial-logo{
        width: 8rem;
        padding-bottom: 1rem;
    }