body{
    margin: 0 auto;
    padding: 0 auto;
}

.navbar{
    width: 100%;
    background-color: #2E2E38;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left{
    margin-left: 4rem;
}

.logo{
    align-items: center;
    width: 11rem;
    padding: 0rem 0rem 1rem 0rem;
}

.nav-link{
    align-items: center;
    font-size: 2rem;
    text-decoration: none !important;
    color: white;
    margin: 0rem 2.5rem 0rem 3.5rem;
}

.nav-right{
    display: inline-block;
    padding: 2rem 0rem 2rem 0rem;
}
